.posts {
    list-style-type: none;
    margin: 0;
    background-color: "pink";
}

.post {
    margin: 1rem 3%;
    border-radius: 30px;
    overflow: hidden;
    a {
        color: white;
        display: block;
        padding: 1rem;
        text-decoration: none; 
        background: #eab9c9;   
    }

    a:hover {
        background: white;
        opacity: 0.9;
        color: #271f18;
    }

    h2 {
        margin-bottom: 0;
    }

    p {
        color: #271f18;
        font-size: .8rem;
        font-style: italic;
    }
}