.header {
    padding: 1rem 0 3rem;
    text-align: center;
}

.title { 
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color:  white;
    font-size: .9rem;
    margin: 1.3rem;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}


.nav-item:hover {
    color: #eab9c9;
}

.active-nav-item {
    color: #333333;
}