.container {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../../static/images/sky.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.content {
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
}